/* ===============================
   PRUEBA DE CARGA CSS
   =============================== */

/* Si esto no se aplica, el CSS NO está cargando */
/* 1. El contenedor padre */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background-color: #ffffff; /* Pon el color de fondo de tu web */
    border-bottom: 1px solid #ddd; /* Para ver dónde termina el header */
}

/* 2. El div donde insertas el JS */
#nav {
    display: block;
    width: 100%;
    min-height: 50px; /* Asegura que siempre tenga un tamaño mínimo */
}

/* 3. El cuerpo de la página */
main#vista {
    position: relative;
    z-index: 1; /* Mucho menor que el del header */
    margin-top: 20px; /* Espacio extra */
}

h1{
    color:#1A4C6E;
    padding: 20px;
    margin:20px;
}
/* Contenedor */
.tiendas-list {
    display: grid;
    grid-template-columns: 1ft; 
    gap: 20px;
    padding: 20px !important;
  
}
/* Tarjetas */
.tienda-card {
    border: 5px solid #F6F7F7 !important;
    border-radius: 20px;
    margin: 10px !important;
    padding: 10px !important;
    font-size: 20px !important;
    color: #1A4C6E ;
}


.tienda-card ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0;
    list-style: none;
}
.tienda-card li {
    background: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}


.tienda-card {
  position: relative;
}

.tienda-card button {
  position: absolute;
  right: 10px;
  bottom: 70px;
  background-color:#1A4C6E;
  color: #F6F7F7;
  width: 100px;
  height: 50px;
  border-radius: 10px;

}

.tienda-card button:hover{
    background-color: #F6F7F7;
    color: #1A4C6E; 
    border: 2px solid #1A4C6E;
}