body {
  margin: 0;
  padding: 0;
  min-height: 100vh;

}

.carousel-container {
  width: 100vw;
  height: 100vh;
  position: relative;
 
}

.slides-container {
  display: flex;
  width: 300%;
  height: 100%;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 33.3333%;
  height: 60%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-control {
  position: absolute;
  top: 30%;
  transform: translateY(-50%);
  z-index: 10;
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 12px 16px;
  cursor: pointer;
  font-size: 24px;
}

.carousel-control.prev { left: 20px; }
.carousel-control.next { right: 20px; }

.slide-1 { background-image: url("/promociones/banner1.png"); }
.slide-2 { background-image: url("/promociones/banner2.png"); }
.slide-3 { background-image: url("/promociones/banner3.png"); }





.container-bloque{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  padding: 20px;
  width: 1200px;
  color: #1A4C6E;
  /* Centra el contenedor completo en la página */
  margin: 0 auto;
  /* Limita el ancho máximo para evitar que se estire demasiado en pantallas grandes */
  max-width: auto; 
  justify-items: center;
}

.bloque img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
}



.container-bloque p{
    text-align: center;
}




.container-venta1{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  width: 1200px;
  color: #1A4C6E;
  /* Centra el contenedor completo en la página */
  margin: 0 auto;
  /* Limita el ancho máximo para evitar que se estire demasiado en pantallas grandes */
  max-width: auto; 
  margin-top: -400px;
}

.venta1 img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    
}



.container-venta1 p{
    text-align: center;
}



.container-venta2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  width: 1200px;
  color: #1A4C6E;
  /* Centra el contenedor completo en la página */
  margin: 0 auto;
  /* Limita el ancho máximo para evitar que se estire demasiado en pantallas grandes */
  max-width: auto; 
  margin-top: 0px;
}

.venta2 img{
    width: 500px;
    height: 500px;
    object-fit: cover;
}

.container-venta2 p{
    text-align: center;
}

.container-venta3{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
  width: 1200px;
  color: #1A4C6E;
  /* Centra el contenedor completo en la página */
  margin: 0 auto;
  /* Limita el ancho máximo para evitar que se estire demasiado en pantallas grandes */
  max-width: auto; 
  margin-top: 0px;
}

.venta3 img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    
}

.container-venta3 p{
    text-align: center;
}

