
nav{
    position: fixed;
    margin: 0; 
    top: 0;
    left: 0;
    right: 0;

     
}
nav.contenedor{
  width: 100%;
  height: 50%;
  overflow: hidden;
  display: inline-block;

}

nav ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0;
    overflow: hidden; 
    background-color: #F6F7F7; /* El color de fondo es mejor aquí */
    
    /* PROPIEDADES DE FLEXBOX PARA ALINEAR A LA DERECHA */
    display: flex; /* Convierte el UL en un contenedor flexible */
    /* justify-content: flex-end;  */

    gap:15px;
}

.menu{
   
    display: flex;
    /* Esto centra todos los elementos LI verticalmente dentro del contenedor UL */
    align-items: center; 
}


.menu li{
    /* Asegura que no haya márgenes extraños */
    margin: 0; 
    padding: 0;
    justify-content: space-between;
    /* Esto ayuda a alinear los elementos dentro del li */
    vertical-align: middle;
}

.menu li a {
    display: inline-block;  /* Muestra el enlace como un bloque para que pueda tener relleno y altura/ancho */
    color:  #1A4C6E;   /* Define el color del texto del enlace */
    padding: 30px;   /* Agrega un relleno alrededor del texto para que el área de clic sea más grande */
    margin: 0px; 
    text-decoration: none;  /* Quita el subrayado por defecto de los enlaces */
    text-align: center;    /* Alinea el texto al centro (opcional) */
    background-color: #F6F7F7;
    border: 2px solid transparent;
    padding: 5px 10px;
    margin-top: 25px;

          
  
}

.menu li a:hover {
     /* Cambia el color de fondo para indicar que el elemento es interactivo */
    /* color: #E57044; ; naranjo*/
    /* color: #A8A7A8; gris*/
    /* color: #E57044;  */
    color: white;
    border: 2px solid #1A4C6E;
    border-radius: 25px;
    background-color: #1A4C6E;
    padding: 5px 10px; 
}


img{
    display: absolute;
    margin-right: 1020px;
    width: 10%;
    height:10%;  
}


