<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/inicio.css" />
    <title>Inicio - Ferretería</title>
  </head>
  <body>
    <header>
      <div id="nav"></div>
    </header>
    <main id="vista">
      <div class="carousel-container">
        <div class="slides-container">
          <div class="slide slide-1"></div>

          <div class="slide slide-2"></div>

          <div class="slide slide-3"></div>
        </div>

        <button id="prev-btn" class="carousel-control prev">❮</button>
        <button id="next-btn" class="carousel-control next">❯</button>
      </div>


    <div class="container-venta1">
      <div class="venta1">
          <img src="promociones/promocion1.png" alt="" />
      </div>
       <div> 
           <h1>Potencia tus Limites</h1>
           <h2>
            Atornilla, perfora y conquista cualquier desafío. Diseñado para quienes no aceptan límites, 
            este taladro combina fuerza, precisión y durabilidad en una sola herramienta. 
            Ideal para trabajos en madera, metal y concreto, tanto en el hogar como en proyectos profesionales.
          </h2><br>
          <ul>
            <li><h3>&#x2022; Máxima potencia y control</h3></li>
            <li><h3>&#x2022; Diseño ergonómico para mayor comodidad</h3></li>
            <li><h3>&#x2022; Rendimiento confiable en cada uso</h3></li>
          </ul><br>
          <h2>
            🔥 Aprovecha un 40% de descuento por tiempo limitado 🔥
               Convierte cada proyecto en una victoria.
               Taladro de potencia sin límites: atornilla, perfora y conquista.
          </h2>
       </div>
    </div>
    <div class="container-venta2">
     
       <div>
           <h1>Feria Maestra</h1>
           <h2>
            El punto de encuentro para los maestros, profesionales y amantes de las herramientas.
            Llega la gran Feria Ferretera, un evento único donde podrás conocer las últimas novedades 
            en herramientas, maquinaria, tecnología y soluciones para la construcción y el hogar.
          </h2><br>
          <ul>
            <li><h2>Desmostraciones en Vivo</h2></li>
            <li><h3>&#x2022; Nuevas marcas y proveedores</h3></li>
            <li><h3>&#x2022; Tendencias e innovación del rubro</h3></li>
            <li><h3>&#x2022; Entrada 100% gratuita</h3></li>
            <li><h3>&#x2022; Registrate ahora y asegura tu cupo</h3></li>
          </ul><br>
          <h2>
            🔥 No te lo pierdas. Mayo 2026 será el mes donde el oficio se vive, se aprende y se comparte.
             Feria Maestra Ferretera: donde nacen los grandes proyectos. 🔥
          
          </h2>
       </div>
        <div class="venta2">
          <img src="promociones/promocion2.png" alt="" />
      </div>
    </div>

    <div class="container-venta3">
      <div class="venta2">
          <img src="promociones/promocion3.png" alt="" />
      </div>
       <div>
           <h1>Alquila Maquinaria Pesa Para Tu Proyecto</h1>
           <h2>
            Potencia tu obra con equipos confiables, modernos y listos para trabajar.
            Alquilar maquinaria pesada es la solución inteligente para avanzar sin 
            límites ni grandes inversiones.
          </h2><br>
          <ul>
            <li><h3>&#x2022; Excavadoras, cargadores, retroexcavadoras y más</h3></li>
            <li><h3>&#x2022; Equipos revisados y con alto rendimiento</h3></li>
            <li><h3>&#x2022; Planes flexibles según tu necesidad</h3></li>
          </ul><br>
          <h2>
            🔥Promoción especial: 50% de descuento el primer mes 🔥
               Consulta y ver planes disponibles ahora.<br>
               Haz que tu proyecto avance con fuerza, eficiencia y ahorro.
          </h2>
       </div>
    </div>







      <div class="container-bloque">
        <div class="bloque">
          <img src="promociones/bloque1.png" alt="" />
          <p class="title">Retiro en Tienda</p>
          <p></p>
        </div>

        <div class="bloque">
          <img src="promociones/bloque2.png" alt="" />
          <p class="title">Envío Rápido y Seguro</p>
          <p></p>
        </div>

        <div class="bloque">
          <img src="promociones/bloque3.png" alt="" />
          <p class="title">Asesoría de Expertos</p>
          <p></p>
        </div>
      </div>
    </main>
    <footer>
      <div id="footer"></div>
    </footer>
    <script src="js/banner.js" defer></script>
    <script src="js/nav.js"></script>
    <script src="js/footer.js"></script>
    <script src="js/spa.js" defer></script>
  </body>
</html>
