<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/productos.css">
  <title>Productos - Ferretería</title>
</head>
<body>
  <header>
    <div id="nav"></div>
  </header>
  <main>
    <h1>Lista de Productos</h1>
    <div id="lista-productos">Cargando productos…</div>
  </main>
     
  <footer>
    <div id="footer"></div>
  </footer>
  <script src="/js/nav.js"></script>
  <script src="/js/footer.js"></script>
  <script src="/js/spa.js"></script>
  <script src="/js/productosService.js"></script>
</body>
</html>
