<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
     <link rel="stylesheet" href="css/sobre-nosotros.css">
  <title>Sobre Nosotros</title>
</head>
<body>
  <nav>
    <div id="nav"></div>
  </nav>
  <main>
    <div class="container">
      <div class="first">
       <h1 Class="title"><i class="bi bi-journal-bookmark"></i><br>Nuestra Historia</h1>
       <div>
         <p>Fue fundanda en el año 2025 en chile, apesar de existir productos que satisfacen una variedad de soluciones, 
           el monopolio de marcas y valores excesivos, por lo tanto, ofresco productos alternativos con una durabilidad 
           igual o superior a las marcas mas reconocidad en el pais.
         </p>
       </div>
      </div>
      <div class="first">
        <h1 Class="title"><i class="bi bi-award"></i><br>Misión</h1>
        <p>Nuestra misión es ser aliado confiable de cada constructor, profesional o aficionado, proveyendo productos 
        duraderos y economicos con el mejor asesoramiento técnico.</p>
      </div>
      <div class="first">
        <h1 Class="title"><i class="bi bi-mortarboard-fill"></i><br>Nuestros valores</h1>
        <ul class="lista-valores">
          <li>&#x2022; Calidad</li>
          <li>&#x2022; Asesoramiento Experto</li>
          <li>&#x2022; Honestidad</li>
          <li>&#x2022; Servicio Comunitario</li>
        </ul>
    </div>
   </div> 
   </div>
   <div class="container-equipo">
     <h2>Nuestro Equipo y Experiencia</h2>
     <p>Humanizar el negocio es vital. Tenemos personas humanas con conocimiento técnico para orientar a nuestros clientes.</p>
   </div>

     <div class="container-vendedores">
       <div class="vendedores">
         <img src="vendedores/jefe.jpeg" alt="">
         <p class="title">Presidente</p>
         <p>70 años de experiencia, aprendí desde los primeros meses de vida sobre la industria, mi papá era el duelo de la ferreteria y
            que la herede, yo recuerdo que jugaba con las cajas como lego ordenando la bodega.</p>
       </div>
 
       <div class="vendedores">
         <img src="vendedores/vendedor1.jpeg" alt="">
         <p class="title">Vendedor</p>
         <p>5 años de experiencia vendo lo que sea.</p>
       </div>
 
       <div class="vendedores">
         <img src="vendedores/vendedor2.jpg" alt="">
         <p class="title">Vendedor</p>
         <p>10 años de experiencia vendo lo que sea.</p>
       </div>
 
       <div class="vendedores">
         <img src="vendedores/vendedor3.webp" alt="">
         <p class="title">Vendedor</p>
         <p>15 años de experiencia vendo lo que sea.</p>
       </div>
   
       </div> 


      <div class="container-compromiso">
        <div class="compromiso">
          <h2 class="title">Compromiso con el servicio</h2>
            <ul class="lista-compromiso">
              <li>&#x2022; Nuestro equipo esta capacitado y preparado para ofrecer asesoramiento personalizado  y resolver dudas técnicas.</li>
              <li>&#x2022; Ofrecemos herramientas especializadas, marcas exclusivas de nivel mundial con un amplio stock de materiales difíciles de encontrar</li>
              <li>&#x2022; Calidad Garantizada: Tenemos a los mejores proveedores de alta calidad.</li>
            </ul>
        </div>
          </div>
        
  
     
<div class="container-adicional-ubicacion">
  <div class="container-adicional">
           <h2 class="title">Servicios Adicionales: </h2>
           <ul class="lista-servicios">
             <li>&#x2022; Corte de materiales a medida (madera, vidrio, metal)</li>
             <li>&#x2022; Alquiler de maquinaria pesada y herramientas</li>
             <li>&#x2022; Entrega a domicilio o a obra</li>
             <li>&#x2022; Asesoría para proyectos específicos</li>
           </ul>
         </div>
 
   
    
    <div class="container-ubicacion">
        <h2 style="text-align: center;">Ubicación de Nuestra Tienda</h2> 
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d26645.29917104039!2d-70.67293552065034!3d-33.40597096971854!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c5e43892f493%3A0xf7a37685c751f125!2sRecoleta%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses!2scl!4v1765838447698!5m2!1ses!2scl" 
              width="600" 
              height="450" 
              style="border:0;" 
              allowfullscreen="" 
              loading="lazy" 
              referrerpolicy="no-referrer-when-downgrade">
            </iframe>
       
    </div>
</div>


  </main>
  <footer>
    <div id="footer"></div>
  </footer>
  <script src="/js/nav.js"></script>
  <script src="/js/footer.js"></script>
  <script src="/js/spa.js"></script>

</body>
</html>
